nav.uk-navbar.uk-navbar-attached
    .uk-container.uk-container-center
        a.uk-navbar-brand.uk-hidden-small(href="/")
            img(src="/public/img/fastcampus_logo.png", style="height:60px;")
        ul.uk-navbar-nav.uk-hidden-small
            li
                a(href='/')
                    i.fa.fa-university(aria-hidden='true')
                    |   Home
            li
                a(href='/shop')
                    i.fa.fa-shopping-bag(aria-hidden='true')
                    |   Shop
            li
                a(href='/about')
                    i.fa.fa-binoculars(aria-hidden='true')
                    |   About
        a.uk-navbar-toggle.uk-visible-small(href='#offcanvas', data-uk-offcanvas='')
        .uk-navbar-brand.uk-navbar-center.uk-visible-small
            img(src="/public/img/fastcampus_logo.png", style="height:40px;")

header
    
