extends ./layout
block content
	.uk-margin.uk-text-contrast.uk-height-1-2-viewport.uk-text-center.uk-flex.uk-flex-center.uk-flex-middle(style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url('/public/img/hero2.jpg'); background-position: 50% 40%; background-size: cover;")
		.uk-width-medium-1-2
			h1.uk-text-contrast.uk-heading-large Digital Marketing SCHOOL
			p.uk-text-large
				| Google Tag Manager에 대해 알아봅시다
			p
				a.uk-button.uk-button-primary.uk-button-large(href='/shop') Go to shop

	.uk-container.uk-container-center.uk-width-3-5.uk-magin-large-top.uk-margin-large-bottom
		h1 Google Tag Manager??
		p.uk-clearfix(style='font-size: 18px;')
			img.uk-align-medium-left(src='//iabramo.com/wp-content/uploads/2016/07/google-tag-manager-logo.jpg', width='400')

			| Google Tag Manager는 개발에 대한 지식이 많지 않은 마케터들도 웹과 모바일 앱에서 손쉽게 태그와 코드를 업데이트 할 수 있도록 도와주는 태그 관리 시스템입니다. Google Analytics 뿐 아니라 트래픽 추적을 위한 다양한 플랫폼에 두루 쓰일 수 있으며, 사이트 최적화를 도와줄 뿐 아니라 부적절한 태그로 인한 오작동을 방지할 수 있습니다. 한 번에 많은 정보를 수집할 수 있다는 점 또한 Google Tag Manager의 장점입니다.

	.uk-block.uk-block-primary
		.uk-container.uk-container-center.uk-margin-top
			.uk-grid.uk-grid-match(data-uk-grid-margin='')
				.uk-width-medium-1-3
					.uk-panel
						h1 Tag
						p
							|   Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
				.uk-width-medium-1-3
					.uk-panel
						h1 Trigger
						p
							|   Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
				.uk-width-medium-1-3
					.uk-panel
						h1 Value
						p
							|   Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.

	.uk-container.uk-container-center.uk-magin-large-top
		h1 Data Layer
		p.uk-clearfix 
			img.uk-align-medium-right(src='//placehold.it/800x400', width='400')

			| "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros."
		
		h1.uk-margin-top Youtube Tracking
		p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

		.uk-grid.uk-margin-large-bottom
			.uk-width-medium-1-2.uk-margin-bottom
				iframe.uk-responsive-width(width='560', height='315', src='//www.youtube.com/embed/LMS-3BSMW2w', frameborder='0', allowfullscreen='')
			.uk-width-medium-1-2.uk-margin-bottom
				iframe.uk-responsive-width(width='560', height='315', src='//www.youtube.com/embed/7hzqIse4eRE', frameborder='0', allowfullscreen='')

	.uk-block.uk-block-primary
		.uk-container.uk-container-center.uk-margin-top
			.uk-grid.uk-grid-match(data-uk-grid-margin='')
				.uk-width-medium-1-3
					a(href='/')
						.uk-panel(style='text-align:center;')
							i.fa.fa-university.fa-5x(aria-hidden='true')
							h1 Home
				.uk-width-medium-1-3
					a(href='/shop')
						.uk-panel(style='text-align:center;')
							i.fa.fa-shopping-bag.fa-5x(aria-hidden='true')
							h1 Shop
				.uk-width-medium-1-3
					a(href='/about')
						.uk-panel(style='text-align:center;')
							i.fa.fa-binoculars.fa-5x(aria-hidden='true')
							h1 About
	a(href='/shop')
		.uk-text-contrast.uk-height-1-4-viewport.uk-flex.uk-flex-center.uk-flex-middle(style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url('/public/img/hero3.jpg'); background-position: 50% 55%; background-size: cover;")
			.uk-width-medium-1-2.uk-margin-left
				h1.uk-text-contrast.uk-heading-large
					i.fa.fa-shopping-bag(aria-hidden='true')
					|     Shop
	a(href='/about')
		.uk-text-contrast.uk-height-1-4-viewport.uk-flex.uk-flex-center.uk-flex-middle(style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url('/public/img/hero1.jpg'); background-position: 50% 30%; background-size: cover;")
			.uk-width-medium-1-2.uk-margin-left
				h1.uk-text-contrast.uk-heading-large
					i.fa.fa-binoculars(aria-hidden='true')
					|     About
	.uk-container.uk-container-center.uk-magin-large-top.uk-margin-large-bottom
		h1 Forms & Buttons
		.uk-grid
			.uk-width-medium-1-3.uk-margin-bottom
				form.uk-form
					fieldset
						legend User Login
						.uk-form-row
							input.uk-form-large(type='email', placeholder='email')
						.uk-form-row
							input.uk-form-large(type='password', placeholder='password')
						.uk-form-row
							button.uk-button Login
			.uk-width-medium-1-3.uk-margin-bottom
				form.uk-form
					fieldset
						legend Newletter
						input.uk-form(type='email',placeholder='email')
						button.uk-button Submit
			.uk-width-medium-1-3.uk-margin-bottom
				form.uk-form
					fieldset
						legend Buttons
						.uk-form-row
							.data-uk-button-group
								button.uk-button Radio 1
								button.uk-button Radio 2
								button.uk-button Radio 3