doctype html
html
	include ./partials/head

	body
		//google tag manager(noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5SK4LH6', height='0', width='0', style='display:none;visibility:hidden')

		include ./partials/header

		section#content
			block content

		include ./partials/footer
