extends ./layout
block content
	.uk-margin.uk-text-contrast.uk-height-1-4-viewport.uk-flex.uk-flex-center.uk-flex-middle(style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url('/public/img/hero3.jpg'); background-position: 50% 55%; background-size: cover;")
		.uk-width-medium-1-2.uk-margin-left
			h1.uk-text-contrast.uk-heading-large
				i.fa.fa-shopping-bag(aria-hidden='true')
				|     Shop
			p.uk-text-large
				| 소비자의 구매패턴을 알아봅니다

	.uk-container.uk-container-center.uk-magin-large-top.uk-margin-large-bottom
		ul.uk-thumbnav.uk-grid-width-small-1-1.uk-grid-width-medium-1-2
			li
				figure.uk-overlay.uk-overlay-hover
					img(src='/public/img/product.jpg', height='300' alt='product')
					.uk-overlay-panel.uk-overlay-fade.uk-overlay-background
						h3 Product1
						p Product Description
					a.uk-position-cover(href='#')
			li
				figure.uk-overlay.uk-overlay-hover
					img(src='/public/img/product.jpg', height='300' alt='product')
					.uk-overlay-panel.uk-overlay-fade.uk-overlay-background
						h3 Product2
						p Product Description
					a.uk-position-cover(href='#')
			li
				figure.uk-overlay.uk-overlay-hover
					img(src='/public/img/product.jpg', height='300' alt='product')
					.uk-overlay-panel.uk-overlay-fade.uk-overlay-background
						h3 Product3
						p Product Description
					a.uk-position-cover(href='#')
			li
				figure.uk-overlay.uk-overlay-hover
					img(src='/public/img/product.jpg', height='300' alt='product')
					.uk-overlay-panel.uk-overlay-fade.uk-overlay-background
						h3 Product4
						p Product Description
					a.uk-position-cover(href='#')
			li
				figure.uk-overlay.uk-overlay-hover
					img(src='/public/img/product.jpg', height='300' alt='product')
					.uk-overlay-panel.uk-overlay-fade.uk-overlay-background
						h3 Product5
						p Product Description
					a.uk-position-cover(href='#')
			li
				figure.uk-overlay.uk-overlay-hover
					img(src='/public/img/product.jpg', height='300' alt='product')
					.uk-overlay-panel.uk-overlay-fade.uk-overlay-background
						h3 Product6
						p Product Description
					a.uk-position-cover(href='#')
